/* .products-wrapper {
    display: flex;
    overflow-x: auto;  /* Abilita lo scroll orizzontale */
    /* gap: 15px;   Aumenta la distanza tra le card per un aspetto più leggibile
    padding: 15; */

  
  /* } */

  
  */