.titolo-feste {
    margin-top: 80px;                       /* rimuove i margini di default di h2 */
    font-size: 65px;
    color: #ff1493;
    transform-origin: center center;
    text-shadow: 0 4px 10px rgba(255, 105, 180, 0.4);
    text-align: center;
    font-family: 'Brush Script MT', cursive;
}

