
.footer {
  background: white;
  color: #fc2cfcdd;
  width: 100vw;
  padding: clamp(1.5rem, 3vw, 2rem) 0;
  opacity: 0.8;
  margin-top: auto;

}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
  gap: clamp(1rem, 3vw, 2rem);
  align-items: flex-start; 
}

.footer-section {
  flex: 1;
  min-width: 250px;
  text-align: center;
}

.footer-section h3 {
  font-size: clamp(1.2rem, 2.5vw, 1.5rem);
  margin-bottom: 1rem;
}

.footer-section p {
  font-size: clamp(1rem, 2vw, 1.2rem);
  margin: 0.5rem 0;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: clamp(1rem, 2vw, 2rem);
  margin-top: 0.5rem; 
}

.social-icons a {
  color: #fc2cfcdd;
  font-size: clamp(1.5rem, 2.5vw, 2rem);
}

.footer-bottom {
  text-align: center;
  padding-top: 0.1rem; 
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 0.1rem; 
}

