/* ================= PRODUCT CARDS ================= */
.product-card {
  width: clamp(250px, 30vw, 300px);
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
  flex-shrink: 0;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-image {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 8px;
  margin-top: 10px;
}

.product-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(248, 225, 225, 0.9);
  padding: 5px;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

.product-card:hover .product-info {
  transform: translateY(0);
}

.product-title,
.product-description,
.product-footer {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.product-card:hover .product-title,
.product-card:hover .product-description,
.product-card:hover .product-footer {
  opacity: 1;
}

.product-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.product-price {
  font-weight: bold;
  font-size: clamp(1rem, 2vw, 1.2rem);
  color: fuchsia;
}
