#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
}

/* Qui potrai aggiungere tutti gli stili specifici dei tuoi componenti, 
   es. header, footer, card, pulsanti ecc. */
