/* Reset globale */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  font-family:Comic Sans MS;
  background: #ffffff;
  background-image: url('https://images.unsplash.com/photo-1556139943-4bdca53adf1e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%; 
  display: flex; 
  flex-direction: column; 
}

img {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
  border: none;

}
